body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white; 
  background-color: #031e46;
  text-align: center;

}

.app-container {
  margin: 0;
  display: flex;
  height: 100vh;
}



.main-content {
  flex: 1;
  padding: 25px 35px;
  overflow-y: auto;
}

.sump-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 0;
  
}

.sump-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.sump-label {
  margin-top: 10px;
  font-weight: 600;
  font-size: 16px;
}

.page {
  padding: 15px;
}
